/*
Light shades: #F3F3EE
Light Accent: #8AC55B
Main brand Color: #97ADA6
Dark Accents: #858F9A
Dark Shades: #27474E
*/
@import url('https://fonts.googleapis.com/css?family=Chela+One|Kaushan+Script|Lobster+Two|Luckiest+Guy|Merienda|Merriweather|Patua+One|Poppins|Press+Start+2P|Russo+One|Slabo+27px');

body {
  background: #BFCDE0;
  font-family: "Merriweather";
}
.container-fluid {
  height: 100%;
  min-height: 100%;
  display: table;
}

/*............JUMBOTRON..............*/
.jumbotron {
  padding: 4em 0 7em 0;
  margin: 0;
  border-radius: 0;
  background-image: url("../images/backgrounds/pig-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  width: 100%;
}

.jumbotron h1 {
  font-family: "Luckiest Guy";
  font-size: 6em;
  padding: 0 auto;
  margin-bottom: 0;
  -webkit-text-stroke: 2px #27474E;
  -moz-text-stroke: 2px #27474E;
}

.jumbotron h3 {
  font-family:"Kaushan Script";
  font-size: 2em;
  margin-top: 0;
  padding: 0 auto;
  -webkit-text-stroke: 0.5px #27474E;
  -moz-text-stroke: 0.5px #27474E;
}
/*............END OF JUMBOTRON..............*/


/*............SCORE BOARD..............*/
.score-board {
  background: rgb(191, 139, 221);
  text-align: center;
}
.score-board h2 {
  padding: 10px;
}
/*............END OF SCOREBOARD..............*/


/*............DICE AREA..............*/
.dice-roll-section {
  padding: 0px;
  margin: 7em;
  text-align: center;
  font-size: 30px;
}
/*............END OF DICE AREA..............*/


/*............PLAYER BOARD..............*/
.player-board {
  padding: 0;
  margin: 0;
  background: rgb(191, 139, 221);
  text-align: center;
  display: table-row;
  vertical-align: bottom;
}
.playerOneName h2, .playerTwoName h2{
  padding: 10px;
  margin: 0;
}
/*............END OF PLAYER BOARD..............*/
