/*
Light shades: #F3F3EE
Light Accent: #8AC55B
Main brand Color: #97ADA6
Dark Accents: #858F9A
Dark Shades: #27474E
*/
@import url('https://fonts.googleapis.com/css?family=Chela+One|Kaushan+Script|Lobster+Two|Luckiest+Guy|Merienda|Merriweather|Patua+One|Poppins|Press+Start+2P|Russo+One|Slabo+27px');

body {
  font-family: "Merriweather";
}

.container-fluid {
  height: 100%;
  min-height: 100%;
  display: table;
  background: #BFCDE0;
}

/*............JUMBOTRON..............*/
.jumbotron-fluid {
  padding: 4em 0 7em 0;
  margin: 0;
  border-radius: 0;
  background-image: url("../images/backgrounds/pig-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  width: 100%;
}

.jumbotron-fluid h1 {
  font-family: "Luckiest Guy";
  font-size: 6em;
  padding: 0 auto;
  margin-bottom: 0;
  -webkit-text-stroke: 2px #27474E;
  -moz-text-stroke: 2px #27474E;
}

.jumbotron-fluid h3 {
  font-family:"Kaushan Script";
  font-size: 2em;
  margin-top: 0;
  padding: 0 auto;
  -webkit-text-stroke: 0.5px #27474E;
  -moz-text-stroke: 0.5px #27474E;
}
/*............END OF JUMBOTRON..............*/

/*............PLAYER FORM..............*/
#usernameForm {
  text-align: center;
  background: #2b4e55;
  padding: 20px 0 30px 0;
  margin: 0;
  color: #F3F3EE;
}
#usernameForm input {
  margin-left: auto;
  margin-right: auto;
}
/*..........END OF PLAYER FORM.........*/


/*............SCORE BOARD..............*/
.overallScoreBoard {
  background: rgb(187, 137, 215);
  text-align: center;
  font-family: "Chela One";
}
.overallScoreBoard h2 {
  padding: 10px;
}
.playerOneScore {
  border-right: 0.5px solid rgba(0, 0, 0, 0.6);
}

.userTurnTotal p{
  margin: 0;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Slabo";
  font-size: 20px;
  text-align: center;
  background: #BFCDE0;
}
/*............END OF SCOREBOARD..............*/


/*............DICE AREA..............*/
.dice-roll-section {
  margin: 0;
  padding: 6em;
  background: #BFCDE0;
  text-align: center;
  font-size: 30px;
}

.userButtons {
  margin: 0;
  text-align: center;
  background: #BFCDE0;
}

#dice {
  font-size: 3em;
  font-family: "Lobster Two";
  margin: 0;
  padding: 0;
}
/*.........END OF DICE AREA...........*/


/*............PLAYER BOARD..............*/
.player-board {
  padding: 0;
  margin: 0;
  background: rgb(187, 137, 215);
  text-align: center;
  display: table-row;
  vertical-align: bottom;
  font-family: "Chela One";
}
.playerOneName {
  border-right: 0.5px solid rgba(0, 0, 0, 0.6);
}
.playerOneName h2, .playerTwoName h2{
  padding: 10px;
  margin: 0;
}

.activeTurn {
  text-shadow: 3px 3px 40px #008cff;
  -webkit-text-stroke: 1px #008cff;
  -moz-text-stroke: 1px #008cff;
}
/*............END OF PLAYER BOARD..............*/
